<div class="campaigns-examples-wrapper">
  <section class="campaigns-intro">
    <p><strong>Start a campaign</strong> and collect money from your friends for a gift,
      a trip, a party, a world domination plan, etc.</p>
    <p class="actions">
    <%= link_to new_campaign_path, class: 'button-ok single' do %><i class="icon-money"></i> Start a campaign</a><% end -%>
    </p>
  </section>
  <section class="campaigns-examples">
    <h1><i class="icon-eye-open icon-dimmed"></i> Examples</h1>

    <ul>
      <% for campaign in Campaign.examples %>
      <li><%= link_to campaign.title, campaign %></li>
      <% end %>
    </ul>
  </section>
</div>
