<header>
  <h1>What is this?</h1>
</header>

<div class="bubble">
<p><strong>SplitPay.At</strong> is the easiest way to get payments from your friends, whether you want to buy a gift or collect money for a party.</p>

<p>People can pay you via <strong>Paypal</strong> with no registration, and straight from their mobile phones.</p>

<p>Why don't you give it a try? :)</p>
</div><!-- bubble -->

<%= render :partial => 'pages/intro' %>

<section class="steps">
  <h1>How this works</h1>
  <ol>
    <li>Login with <strong>PayPal</strong></li>
    <li>Enter what you want to <strong>collect</strong> for, and how much per person</li>
    <li><strong>Share</strong> the link with your friends</li>
  </ol>
</section>
