<header class="campaign">
  <h1>Create your campaign</h1>
</header>

<form class="campaign std-form">
  <p><label>
    Title:<br>
    <input type="text" name="title" placeholder="Gift for Darth Vader">
  </label></p>
  
  <p><label>
    Description:<br>
    <textarea rows="6" placeholder="Hey guys! Let's get Darth Vader something cool for his birthday :)"></textarea>
  </label></p>
  
  <p>
    <label>How much per person?<br>
    <input type="text" name="title" class="amount" size="5" placeholder="10.00"></label>
    <select name="currency">
      <option value="eur">Euro €</option>
      <option value="gpb" selected>GPB £</option>
      <option value="usd">USD $</option>
    </select>
  </p>
  
  <p class="submit"><input type="submit" value="Create campaign"></p>
</form>