<header class="campaign">
  <hgroup>
    <h1>A gift for Ricardo</h1>
    <h2>Organised by: <strong>Belén</strong></h2>    
  </hgroup>
</header>

<section class="description">
  <p>Waka, waka, eh eh~</p>
</section><!-- description -->

<section class="payers">
  <h1>People who have paid:</h2>

  <ul>
    <li>Han Solo</li>
    <li>Palpatine</li>
  </ul>
</section><!-- payers -->

  