@import compass/css3/border-radius
@import compass/css3/images
@import compass/css3/box-shadow
@import compass/css3/box-sizing
@import compass/css3/text-shadow
@import compass/utilities/general/clearfix

@import url(http://fonts.googleapis.com/css?family=Muli)
@import _font-awesome

$std-font: Arial, Helvetica, sans-serif
$std-font-size: 12pt
$fancy-font: Muli

$contrast-color: #f32a54
$darkest-text-color: #2f2f2f
$error-fg-color: #a03
$error-bg-color: #fee

@mixin respond-to($media)
  @if $media == retina // high resolution smartphones (iPhone 4S)
    @media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2)
      @content
  @else if $media == phone // smartphones
    @media only screen and (max-width: 480px)
      @content
  @else if $media == desktop // desktop and tablets
    @media only screen and (min-width: 481px)
      @content

@mixin big-gravatar
  height: 50px
  width: 50px
  display: inline-block

@mixin small-gravatar
  height: 30px
  width: 30px
  display: inline-block

@mixin std-button
  +border-radius(5px)
  +box-sizing(border-box)
  font-size: 14pt
  border: 0px none
  display: inline-block
  padding: 0.75em 1.25em
  text-decoration: none
  text-align: center
  &:hover
    cursor: pointer
  &.single
    +respond-to(phone)
      width: 99.5%

@mixin std-button-ok
  +std-button
  +background(linear-gradient(bottom, #58212b, $contrast-color))
  +text-shadow(-1px -1px 0px rgba(0, 0, 0, 0.3))
  +box-shadow(2px 2px 5px rgba(0, 0, 0, 0.5))
  color: #fff
  
@mixin std-button-dark
  +std-button
  +background(linear-gradient(bottom, #000, #3d3d3d))
  +text-shadow(-1px -1px 0px rgba(0, 0, 0, 0.3))
  +box-shadow(2px 2px 5px rgba(0, 0, 0, 0.5))
  color: #fff  

@mixin std-wrapper
  +respond-to(desktop)
    max-width: 700px - 2*15px
  margin: 0px auto
  padding-left: 15px
  padding-right: 15px

@mixin std-input
  background: #fff
  border: 1px solid #ddd
  padding: 0.5em
  font-size: 20pt
  width: 100%
  +box-sizing(border-box)
  &.error
    border: 2px solid $error-fg-color
    background: $error-bg-color

@mixin std-textarea
  background: #fff
  border: 1px solid #ddd
  padding: 0.5em
  font-size: 11pt
  width: 100%
  +box-sizing(border-box)

@mixin std-submit
  +std-button-ok
  +box-sizing(border-box)
