/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// ==================
// = general styles =
// ==================
@import compass/reset
@import _common

.desktop-only
  +respond-to(phone)
    display: none

body
  font-family: $std-font
  font-size: $std-font-size
  background: #ddd
  color: #333
  height: 100%
  
i.icon-dimmed
  opacity: 0.5

p, li, h1, h2, h3
  line-height: 1.25em

a
  color: $contrast-color
  
a.button-ok
  +std-button-ok

a.button-dark
  +std-button-dark

strong
  color: $darkest-text-color
  font-weight: bold
  
em
  font-style: italic

header.main-header
  +background(linear-gradient(bottom, #000, #3d3d3d))
  z-index: 10
  color: #fff
  border-top: 5px solid $contrast-color
  div.wrapper    
    +std-wrapper
    +clearfix
    +respond-to(desktop)
      padding-top: 15px
      padding-bottom: 15px
    +respond-to(phone)
      padding-top: 10px
      // padding-bottom: 5px
    h1
      font-size: 16pt
      font-weight: bold
      font-family: $fancy-font
      a
        color: #fff
        text-decoration: none
      +respond-to(desktop)
        display: inline-block
        float: left
        line-height: 30px
      +respond-to(phone)
        margin-bottom: 5px
      span.highlight
        color: $contrast-color
    
nav.main-menu
  +respond-to(desktop)
    display: inline-block    
    float: right
    margin-left: 25px
  font-family: $fancy-font
  ul
    +clearfix
  li
    float: left
    line-height: 30px
    margin-left: 0.5em
    &:before
      content: "|"
      margin-right: 0.5em
      color: #aaa
    &:first-child
      margin-left: 0em
      &:before
        content: ""
        margin-left: 0em
        font-size: 0px
  a
    color: #fff
    text-decoration: none
    &:hover
      color: $contrast-color

div.main-wrapper
  +std-wrapper

div.outer-wrapper
  +clearfix
  +box-shadow(inset 0px 2px 5px rgba(0, 0, 0, 0.5))
  padding-bottom: 50px
  background: image-url('cream_dust.png')

section.main
  h1
    font-family: $std-font
    font-size: 22pt
    font-weight: bold
    color: $darkest-text-color
  & > header h1
    +respond-to(desktop)
      font-size: 32pt
      text-align: left
    +respond-to(phone)
      font-size: 24pt
      text-align: center
    margin-bottom: 0.5em
  h2, h3
    color: $darkest-text-color
  p, h1, h2, h3
    margin: 0.75em 0em

section.subsection
  h1
    font-size: 16pt

footer.main-footer
  background: #ddd
  border-top: 2px solid #aaa
  div.wrapper
    +std-wrapper
    +clearfix
    padding-top: 15px
    padding-bottom: 15px
  p.left
    +respond-to(desktop)
      width: 48%
      float: left
    +respond-to(phone)
      margin-bottom: 1em
  p.right
    +respond-to(desktop)
      width: 48%
      float: right
      text-align: right
    
form.std-form
  +respond-to(desktop)
    font-size: 20pt
  +respond-to(phone)
    font-size: 16pt
  input[type=text]
    +std-input
  textarea
    +std-textarea
  label
    font-weight: bold
    line-height: 1.25em
  select
    font-size: 20pt
    padding: 0.5em
    width: auto
  input[type=submit]
    +std-submit
  p.submit
    +respond-to(desktop)
      text-align: right
    +respond-to(phone)
      margin-top: 20px
      input[type=submit]
        width: 100%
  span.error
    color: $error-fg-color
    font-size: $std-font-size
    font-weight: bold
    
div.bubble
  +border-radius(10px)
  background: image-url('background.png')
  padding: 15px
  margin-top: 30px
  position: relative  
  margin-bottom: 20px
  &:after
    content: ""
    position: absolute
    bottom: -10px
    left: 15px
    border-top: 10px solid #dfdfdf
    border-top-image: image-url('light_noise.png')
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    
div.video
  iframe
    width: 100%