// Place all the styles related to the Campaign controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

@import _common

section.description
  div.organiser
    margin-top: 20px
    font-size: 14pt
    p
      +clearfix
      line-height: 50px
    img
      +big-gravatar
      float: left
      margin-right: 0.5em
    span.name
      font-weight: bold
      color: #000

section.pay
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  text-align: center
  margin: 30px 0px
  p.paypal-button
    margin: 0em

section.payers
  ul
    +clearfix
    li
      +clearfix
      +respond-to(desktop)
        float: left
        width: 33.333%
      line-height: 30px
      margin-top: 0.5em
      margin-bottom: 0.5em
      font-size: 14pt
    img
      +small-gravatar
      margin-right: 0.5em
      float: left
  p.actions
    margin-top: 20px
form.campaign
  input.amount
    width: auto
    text-align: right

@mixin campaign-list
  +respond-to(desktop)
    float: left
    width: 48%
  ul
    margin-left: 1.5em
  li
    line-height: 1.25em
    list-style-type: disc
    padding: 0.25em 0em
    &:hover
      background: #efefef
    &:first-child
      padding-top: 0em
  p.actions
    margin-top: 1em

div.campaigns-list-wrapper
  +clearfix

section.open-campaigns
  +campaign-list

section.closed-campaigns
  +campaign-list
  +respond-to(desktop)
    float: right
  +respond-to(phone)
    margin-top: 20px
