<!DOCTYPE html>
<html>
<head>
  <title>Splitpayat</title>
  
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main-header">
    <div class="wrapper">
      <h1>SplitPay<span class="highlight">At</span></h1>
    </div>
  </header>
  <div class="main-wrapper">
    <section class="main">
      <%= yield %>
    </section>
  </div><!-- main wrapper -->
  <footer class="main-footer">
    <div class="wrapper">
      <p>Entry for Rails Rumble 2012</p>
    </div>
  </footer>
</body>
</html>
